{% import 'macros.html' as macros %}
{% macro render_form(form, avec) %}
  {{ macros.render_field(form.name) }}
  {{ macros.render_field(form.email) }}
  {{ macros.render_field(form.phone) }}
  <div class="form-group {% if form.guild.errors %}has-error{% endif %} row">
    <label class="control-label col-lg-2">Kilta:</label>
    <div class="radio col-lg-10">
      {% for value, label, selected in form.guild.iter_choices() %}
        <div>
          <label>
            <input type="radio" name="{{ form.guild.id }}" id="{{ form.guild.id }}" value="{{ value }}"
                   {% if selected %}checked="checked"{% endif %}>{{ label }}
          </label>
        </div>
      {% endfor %}
    </div>
    {% for e in form.guild.errors %}
      <p class="help-block">{{ e }}</p>
    {% endfor %}
  </div>
  <label>
    {{ form.alcohol_free(type='checkbox', **kwargs) }} {{ form.alcohol_free.label }}
    <div class="reveal-if-inactive">
      {{ macros.render_radio_sub_field(form.wine) }}
      {{ macros.render_radio_sub_field(form.mild) }}
    </div>
  </label>
  {% if avec %}
    {{  }}
  {% endif %}

{% endmacro %}